.footer__grid {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) repeat(2, fit-content(90px));
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .footer__grid {
        display: flex;
        flex-direction: column;
        max-width: 405px;
        padding: 0 20px;
        margin: 0 auto;
    }
}