@import url(./__position/download__position.css);
@import url(./__title/download__title.css);
@import url(./__content/download__content.css);
@import url(./__container-bottom/download__container-bottom.css);
@import url(./__button/download__button.css);
@import url(./__icon/download__icon.css);
@import url(./__word/download__word.css);

.download {
    max-width: 1440px;
    min-height: 1218.7px;
    margin: 0 auto;
    background: url(../../images/download-background.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 560px;
    color: #fff;
}

.download::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 40px;
    background: url(../../images/download-picture.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1000px) {
    .download {
    margin-top: -580px;
    }
    .download::before {
        display: none;
    }
}
