@import url(./__navbar/header__navbar.css);
@import url(./__logo/header__logo.css);
@import url(./__link-list/header__link-list.css);
@import url(./__link/header__link.css);
@import url(./__container/header__container.css);
@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);

.header {
  max-width: 1440px;
  height: 912px;
  box-sizing: border-box;
  background-image: url('../../images/header_background(1).png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .header {
    height: 650px;
  }
}

@media screen and (max-width: 625px) {
  .header {
    height: 520px;
    background-image: url('../../images/header_background.png');
  }
}
