.header__link {
  text-decoration: none;
  padding: 0;
  color: #FFFFFF;
  font-size: 18px;
  margin-right: 38px;
}

.header__link:last-of-type {
  margin-right: 8px;
}

.header__link:hover {
  opacity: .7;
  transition: opacity .3s ease-in;
}

@media screen and (max-width: 1024px) {
  .header__link {
    font-size: 16px;
    margin-right: 32px;
  }
}

@media screen and (max-width: 525px) {
  .header__link {
    font-size: 14px;
    margin-right: 0;
  }
}
