.search-form__input {
  border: none;
  outline: none;
  width: 70%;
  height: 60%;
  font-size: 18px;
  line-height: 23px;
  opacity: 0.3;
}

.search-form__input:hover {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .search-form__input {
    font-size: 16px;
  }
}
