.header__subtitle {
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  max-width: 46%;
  padding: 0;
  margin-top: 40px;
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  .header__subtitle {
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 768px) {
  .header__subtitle {
    max-width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .header__subtitle {
    max-width: 100%;
  }
}
