.header__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .header__navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}
