@import url(./__icon/search-form__icon.css);
@import url(./__input/search-form__input.css);
@import url(./__button/search-form__button.css);

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 46%;
  height: 62px;
  background: #FFFFFF;
  border-radius: 31px;
  box-sizing: border-box;
  margin-top: 52px;
}

@media screen and (max-width: 1024px) {
  .search-form {
    margin-top: 32px;
    height: 48px;
  }
}

@media screen and (max-width: 625px) {
  .search-form {
    max-width: 100%;
    margin-top: 24px;
    height: 48px;
  }
}
