@import url(./__position/footer__position.css);
@import url(./__social-icons/footer__social-icons.css);
@import url(./__social-icon/footer__social-icon.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__author/footer__author.css);
@import url(./__list-icon/footer__list-icon.css);
@import url(./__link/footer__link.css);
@import url(./__paragraph/footer__paragraph.css);
@import url(./__title/footer__title.css);
@import url(./__heading/footer__heading.css);
@import url(./__links-social-icon/footer__links-social-icon.css);
@import url(./__grid/footer__grid.css);
@import url(./__nav/footer__nav.css);
@import url(./__info/footer__info.css);
@import url(./__list-item/footer__list-item.css);
@import url(./__column-links/footer__column-links.css);
@import url(./__column-links/_position/footer__column-links_position.css);
.footer {
    max-width: 1440px;
    min-height: 733px;
    margin: 0 auto;
    background: url(../../images/footer-background.svg);
    background-position: center;
    position: relative;
}

.footer::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 120px;
    background: url(../../images/footer-picture.svg);
    background-repeat: no-repeat;
}

@media screen and (max-width: 1400px) {
    .footer::before {
        display: none;
    }
}