.header__background {
  max-width: 1440px;
  height: 912px;
  background-image: url('../../../images/header_background_1\ \(1\).png');
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
