.download__title {
    font-family: Gilroy;
    font-size: 50px;
    line-height: 61px;
    margin: 0;
}

@media screen and (max-width: 350px) {
    .download__title {
        font-size: 40px;
    }
}
